<div class="pokemon-wrapper">
  <!-- <app-pokemon-detail [selectedPokemon]="pokemonDetail$ | async"
                        (addToTeam)="addPokemonToTeam($event)"></app-pokemon-detail> -->
  <!-- <span class="component-header app-pokemon-detail">Pokemon Detail</span> -->
  <app-pokemon-detail [selectedPokemon]="selectedPokemon"> </app-pokemon-detail>

  <!-- <app-pokemon-list [pokemonList]="pokemonList$ | async"
                    (emitSelectedPokemon)="requestPokemonDetail($event)"></app-pokemon-list> -->
  <!-- <span class="component-header app-pokemon-list">Pokemon List</span> -->
  <app-pokemon-list [pokemonList]="pokemonList"></app-pokemon-list>
</div>
<div class="pokemon-team-wrapper">
  <!-- <app-pokemon-team [currentPokemonTeam]="currentPokemonTeam"
                      (removeFromTeam)="removePokemonFromTeam($event)"></app-pokemon-team> -->
  <!-- <span class="component-header app-pokemon-team">Pokemon Team</span> -->
  <!-- <span class="team-constraints">Select up to (6) Pokemon</span> -->
  <app-pokemon-team [currentPokemonTeam]=""></app-pokemon-team>
</div>
